<!doctype html>
<html>
  <head>
    <title>Webmention Receiver</title>
    <link href="https://immense-dusk-57047.herokuapp.com/" rel="webmention" />
  </head>
  <body>
    <%= DB.keys.to_json %>

    <a href="mailto:kyanny@gmail.com" rel="me">kyanny@gmail.com (for IndieLogin)</a>
  </body>
</html>